body{
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(77, 77, 77);
  color: white;
  margin:0;
  padding:0;
}

ul{
  list-style: none;
  text-align: center;
}

.fileupload{
  padding: 2rem;
  box-shadow: 0 5px 10px rgb(46, 45, 45);
  text-align: center;
}

.checker{
  border: 2px solid #c0c0c0;
  color: #c0c0c0;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
  width: 50%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#check{
  display: none;
}

.check-bg{
  background: #c0c0c0;
  color: black;
  font-weight: bold;
}

.center{
  text-align: center;
}

.center-box{
  transform: translate(23%, -50%);
}

.position-relative{
  position: relative;
}

.center-button{
  position: absolute;
  left:50%;
  transform: translate(-50%, 0%);
}